In [3]:
import pandas as pd
import numpy as np

### Lab

### Load your database here recruit!

In [4]:
df= pd.read_csv('./../../assets/marvel.csv')
print len(df)

print df.columns.values
df.head()

16376
['page_id' 'name' 'urlslug' 'ID' 'ALIGN' 'EYE' 'HAIR' 'SEX' 'GSM' 'ALIVE'
 'APPEARANCES' 'FIRST APPEARANCE' 'Year']

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

### Here are our findings from extensive research and hero fighting. Run this field once. It will set up all of your data for you. Feel free to add additional weaknesses and affinities if you feel like it!

In [5]:
def randomly(length):
    return np.random.randint(0, length, size = 1)[0]

def pull_unique(length, arr):
    this_rand = randomly(length)
    while this_rand in arr:
        this_rand = randomly(length)
    return this_rand


value_length = len(df) + len(df) / 20

#the hero's weakness
weaknesses = ["ponies","butterflies","apple pie","spiders",
              "giant robots","fireballs","tv static","gerbils",
              "lactose","Walmart","boomerangs","kangaroos","true love", "Shaq"]

#the hero's favorite hobby
affinities = ["balloons","rubber ducks","plasma laser guns","ghosts",
              "clouds","bouncy balls","milkshakes","storms",
              "preschools","Panda Express","shag rugs","bubble gum","Kanye West"]

super_weaknesses = [weaknesses[randomly(len(weaknesses))] for x in range(value_length)]
affinities = [affinities[randomly(len(affinities))] for x in range(value_length)]
killability = [randomly(10) + 1 for x in range(value_length)]
more_ids = list(df['page_id'])

for x in range(value_length - len(df)):
    unique = [pull_unique(100000,more_ids)]
    more_ids += unique
    
raw_data = {
        'page_id' : more_ids,
        'Weaknesses': super_weaknesses,
        'Affinities': affinities,
        'Killability': killability}

### Create a new dataframe with your raw data

In [6]:
marvel = pd.DataFrame(raw_data)
print len(marvel)
marvel.head()

17194

   Affinities  Killability Weaknesses  page_id
0      storms            1     ponies     1678
1  Kanye West           10    Walmart     7139
2  Kanye West            9       Shaq    64786
3    balloons            5     ponies     1868
4      clouds            2  apple pie     2460

### What print out the ids in your data that don't match the ids in marvel.csv

In [7]:
outer = pd.merge(df,marvel, on='page_id', how='outer' )
len(outer.ix[outer['name'].isnull()]['page_id'])

818

In [8]:
len(marvel['page_id'][~marvel['page_id'].isin(df['page_id'].values)])

818

### Perform an inner join with your dataframes. This should automatically throw out the values that don't map to each other

In [109]:
inner = pd.merge(df, marvel, on='page_id', how='inner')
 

print len(inner)

16376


### The Brain ([Leader of the League/Brotherhood of Evil](https://en.wikipedia.org/wiki/Brain_(comics))) has asked you to evaluate your data. Since funds are short, the league wants to know which Good Aligned hero weakness is most beneficial to invest in. Make sure the heros are still alive. No use investing in problems we don't have.

In [10]:
inner[(inner['ALIGN'] == 'Good Characters') & (inner['ALIVE'] == 'Living Characters')]['Weaknesses'].value_counts()[0:1]

gerbils    288
Name: Weaknesses, dtype: int64

### Phobia ([League/Brotherhood of Evil Platinum Member](https://en.wikipedia.org/wiki/Phobia_(comics)) is more interested in the affinities of the Good Aligned heros with their identities exposed. Which affinity would you recommend the guild invest in?

In [11]:
print inner['ID'].value_counts()

inner[(inner.ALIGN == 'Good Characters') & (inner.ID != 'Secret Identity')]['Affinities'].value_counts()

Secret Identity                  6275
Public Identity                  4528
No Dual Identity                 1788
Known to Authorities Identity      15
Name: ID, dtype: int64

bubble gum           250
Kanye West           242
plasma laser guns    241
balloons             240
storms               239
shag rugs            239
clouds               233
Panda Express        229
preschools           228
ghosts               226
bouncy balls         221
milkshakes           219
rubber ducks         216
Name: Affinities, dtype: int64

### Madame Rouge ([League/Brotherhood of Evil House Mom](https://en.wikipedia.org/wiki/Madame_Rouge)) is concerned about the killability of our heros based on their alignment. Let's create a table for her, comparing our hero's alignments with their killability.

In [14]:
pd.pivot_table(inner, index =["ALIGN"], columns =['Killability'],values=['page_id'], aggfunc=len,margins=True)

# inner.columns.values

                   page_id                                                  \
Killability              1       2       3       4       5       6       7
ALIGN
Bad Characters       713.0   644.0   685.0   676.0   656.0   707.0   703.0
Good Characters      461.0   486.0   435.0   450.0   477.0   464.0   504.0
Neutral Characters   218.0   210.0   214.0   243.0   211.0   215.0   223.0
All                 1392.0  1340.0  1334.0  1369.0  1344.0  1386.0  1430.0


Killability              8       9      10      All
ALIGN
Bad Characters       649.0   642.0   645.0   6720.0
Good Characters      493.0   426.0   440.0   4636.0
Neutral Characters   229.0   212.0   233.0   2208.0
All                 1371.0  1280.0  1318.0  13564.0

In [16]:
inner.columns.values

array(['page_id', 'name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX',
       'GSM', 'ALIVE', 'APPEARANCES', 'FIRST APPEARANCE', 'Year',
       'Affinities', 'Killability', 'Weaknesses'], dtype=object)

### Madame Rouge ([League/Brotherhood of Evil House Mom](https://en.wikipedia.org/wiki/Madame_Rouge)) is also concerned about the affinity of our heros based on their alignment. Let's create a table for her, comparing our hero's alignments with their affinities.

In [18]:
pd.pivot_table(inner,index =["ALIGN"], columns =['Affinities'],values =['page_id'], aggfunc=len, margins =True)

                      page_id                                                 \
Affinities         Kanye West Panda Express balloons bouncy balls bubble gum
ALIGN
Bad Characters          552.0         536.0    517.0        460.0      529.0
Good Characters         361.0         340.0    378.0        333.0      360.0
Neutral Characters      169.0         150.0    161.0        184.0      197.0
All                    1082.0        1026.0   1056.0        977.0     1086.0

                                                                            \
Affinities          clouds  ghosts milkshakes plasma laser guns preschools
ALIGN
Bad Characters       524.0   530.0      529.0             495.0      493.0
Good Characters      346.0   352.0      333.0             366.0      355.0
Neutral Characters   141.0   186.0      178.0             180.0      151.0
All                 1011.0  1068.0     1040.0            1041.0      999.0


Affinities         rubber ducks shag rugs  storms      All
ALIGN
Bad Characters            517.0     553.0   485.0   6720.0
Good Characters           342.0     392.0   378.0   4636.0
Neutral Characters        157.0     173.0   181.0   2208.0
All                      1016.0    1118.0  1044.0  13564.0

### General Immortus ([League/Brotherhood of Founding Member](https://en.wikipedia.org/wiki/General_Immortus)) took a look at your data and is concerned. Shouldn't we be adding all of our new data to our database? Let's merge all of our columns without regard to if they align or not.

In [108]:
outer.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,Affinities,Killability,Weaknesses,Character Created
0,1678.0,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0,storms,1,ponies,1962-08-01 00:00:00
1,7139.0,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0,Kanye West,10,Walmart,1941-03-01 00:00:00
2,64786.0,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0,Kanye West,9,Shaq,1974-10-01 00:00:00
3,1868.0,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0,balloons,5,ponies,1963-03-01 00:00:00
4,2460.0,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0,clouds,2,apple pie,1950-11-01 00:00:00

### The General wants us to assume that all the heros in this new table without entries are deceased and good aligned. Let's update the table with our new data

In [29]:
# sum(outer["ALIVE"].isnull())
outer["ALIVE"] = outer["ALIVE"].fillna('deceased')
outer["ALIGN"] = outer["ALIGN"].fillna('Good Characters')

### The General wants us to update our dates of first appearances so that we can more easily work with the data. Add a new column with the updated datetime field called "Character Created". If the date is blank, use 0 as the value (we will need to filter out these values during our analysis).

In [51]:
import math
lst =[]
for i in outer.index.values:
    if not math.isnan(outer['Year'][i]):
        lst.append(pd.to_datetime(outer['FIRST APPEARANCE'][i][:3] + '-' + str(int(outer['Year'][i]))))
    else:
        lst.append(0)

outer['Character Created'] = lst

### Who was the first superhero to appear in our table?

In [118]:
mindate = min(outer[outer['Character Created'] != 0]['Character Created'])

outer[outer['Character Created'] == min(outer[outer['Character Created'] != 0]['Character Created'])]['name']

# outer[(outer['Character Created'] == min(outer[outer['Character Created'] != 0]['Character Created'])) &
#       (outer['ALIGN'] == 'Good Characters')]['name']

60           Human Torch (Android) (Earth-616)
306                Thomas Halloway (Earth-616)
366                          Dorma (Earth-616)
901                 Phineas Horton (Earth-616)
1193                    David Rand (Earth-616)
1938                           Zar (Earth-616)
2283                   Jim Gardley (Earth-616)
2550                        Trajah (Earth-616)
2729     Lightning (Masked Raider) (Earth-616)
4458                         Chaka (Earth-616)
5084                 Anthony Sardo (Earth-616)
5880                          Nono (Earth-616)
5881                 Paul de Kraft (Earth-616)
6977                   Ken Masters (Earth-616)
6978                           Sha (Earth-616)
8397           Fiorello La Guardia (Earth-616)
8398                        Harris (Earth-616)
8399                     John Rand (Earth-616)
8401                           Kru (Earth-616)
8402                          Quog (Earth-616)
8403              Red (Sardo Gang) (Earth-616)
10471        Bends (Masked Raider) (Earth-616)
10473                        Bleck (Earth-616)
10474                  Cal Brunder (Earth-616)
10475               Constance Rand (Earth-616)
10477      Dr. Lang (The Big Boss) (Earth-616)
10478                 Dutch Hansen (Earth-616)
10480                   Gus Ronson (Earth-616)
10483                 John Crafton (Earth-616)
10484                  John Dillon (Earth-616)
10485                 John Roberts (Earth-616)
10486                          Lil (Earth-616)
10488                       Lordin (Earth-616)
10490     Mike (John Crafton Gang) (Earth-616)
10491                  Mike Malone (Earth-616)
10493                      Mubangi (Earth-616)
10498                        Rowdy (Earth-616)
10500        Slick (Masked Raider) (Earth-616)
10501     Slug (John Crafton Gang) (Earth-616)
10502        Steve (Masked Raider) (Earth-616)
10503                  Steve Enkel (Earth-616)
10506                  Tim Roberts (Earth-616)
10508                 Trigger Bolo (Earth-616)
10510                      Wal-Lah (Earth-616)
15281        Mr. Harris' Secretary (Earth-616)
15282                       N'Jaga (Earth-616)
Name: name, dtype: object

### Who was the lastest superhero to appear in our table?

In [106]:
maxdate = max(outer[outer['Character Created'] != 0]['Character Created'])

outer[outer['Character Created'] == max(outer[outer['Character Created'] != 0]['Character Created'])]['name']

6912                Miss Coriander (Earth-616)
8306                         Ikari (Earth-616)
8310                     Validator (Earth-616)
10350                   Boss Cohen (Earth-616)
10356                      Kingdom (Earth-616)
10367       Wendigo (Omega Flight) (Earth-616)
14994                         Boxx (Earth-616)
14996           Celestial Gardener (Earth-616)
15001         Death (11th Century) (Earth-616)
15002        Famine (11th Century) (Earth-616)
15004               Folkbern Logan (Earth-616)
15015                   Kyzerra Os (Earth-616)
15017      Man-Thing (Savage Land) (Earth-616)
15020                       Megatu (Earth-616)
15027    Pestilence (11th Century) (Earth-616)
15030               Robert Michaud (Earth-616)
15034           War (11th Century) (Earth-616)
Name: name, dtype: object

### What was the date difference between their appearances?

In [107]:
maxdate - mindate

Timedelta('26907 days 00:00:00')